.features__list,
.plan__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-inline: auto;
  list-style-image: url(../assets/tick-circle.svg);
}

.plan {
  min-width: 10.8rem;
  border-radius: 0.7rem;
  border: 0.07rem solid #d3d3d3;
  padding: 0.725rem 2rem;
}

.plans__container {
  display: flex;
}

.footer__lists {
  display: flex;
  justify-content: space-between;
  ul {
    flex: 1;
    text-align: start;
    padding: 0;
  }
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  div {
    display: flex;
    justify-content: center;
    border-radius: 500px;
    min-width: 2.3rem;
    min-height: 2.3rem;
    background-color: rgba(245, 56, 56, 0.1);
  }
}
