@use "mixins-vars" as *;

body {
  font-family: "Rubik", sans-serif;
  color: $color-dark;
}

.head__nav li,
.stats__block p {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

p {
  @include text(400, 0.65);
  color: $color-light;
}

.head {
  &__block p {
    @include text(400, 1);
    color: $color-dark;
  }

  &__nav {
    @include text(400, 1);
  }
  &__button-light {
    color: $color-dark;
    background-color: #fff;
  }
  &__button-red {
    color: $color-accent;
    background-color: #fff;
  }
}

.hero {
  &__title {
    @include text(400, 2);
    color: $color-dark;
  }
  &__title span {
    @include text(600, 2);
  }
  &__button {
    @include text(600, 0.75);
  }
}

.stats {
  &__h4 {
    @include text(600, 0.7);
  }
  p {
    @include text(400, 0.56);
    color: $color-lightest;
  }
}

.features {
  &__h3 {
    @include text(600, 1.2);
  }
  &__list {
    @include text(600, 0.65);
  }
}

.plans {
  &__h3 {
    @include text(600, 1.2);
  }
  .plan {
    &__h4 {
      @include text(600, 0.7);
    }
    &__list {
      @include text(400, 0.55);
    }
    &__h3 {
      @include text(600, 1);
    }
    span {
      @include text(400, 1);
    }
    &__button {
      @include text(500, 0.7);
    }
  }
}

.network {
  &__h3 {
    @include text(600, 1.2);
  }
}

// place for customers

.subscribe {
  &__h2 {
    @include text(600, 1.6);
  }
  &__p {
    @include text(400, 1);
  }
  &__button {
    @include text(600, 1.1);
  }
}

.footer {
  ul {
    @include text(600, 0.8);
  }
  li {
    @include text(400, 0.8);
    color: $color-lightest;
  }
}
